.Menu:nth-child(1) .Container {
    background: #3387ea
}

.Menu:nth-child(2) .Container {
    background: #f9be3e
}

.Menu:nth-child(3) .Container {
    background: #d3573e
}
.Menu:nth-child(4) .Container {
    background: #59b0e2
}

.Menu:nth-child(5) .Container {
    background: #33af95
}

.Menu:nth-child(6) .Container {
    background: #86a73f;
}

.Menu:nth-child(7) .Container {
    background: #151a26;
}

.Menu:nth-child(8) .Container {
    background: #7e5b8c;
}

.page-header {
    padding: 0.5rem;
    color: #FFF;
}

.page-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.Menu {
    height: 150px;
    padding: 0.5rem;
}

.Container {
    height: 100%;
    position: relative;
}

.Container__Image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Container__Text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    color: #FFF;
}

.Blog {
    display: flex;
    color: #FFF;
}

.Blog__image {
    height: 100%;
    flex: 0 0 30%;
    background-image: url('../assets/images/blog-image.png');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.Blog__text {
    flex: 0 0 70%;
    padding: 0.5rem;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .page-content {
        position: static;
        top: initial;
        left: initial;
        transform: translate(0, 0)
    }
}
